.sort-dropdown {
  width: 100px;
  height: 30px;
}

.Select-control {
  width: 100%;
  height: 100%;

  cursor: pointer;

  border: none;
  border-radius: 0;
}

.Select-menu-outer {
  border: none;
}

.Select-option {
}

.Select-option.is-focused {
}